html {
  font-family: sans-serif;
}
/* Your CSS below here */
div
{width: 200px;
  height:200px;
margin: auto;
line-height:200px;
text-align: center;
background-color: red;
color: white;
font-size: 1.13rem; /*This = 16 x 1.13 = 18.08px*/
text-shadow: 1.5px 1.5px 1.5px black;
border: 1px solid maroon;
border-radius: 8%;
background-image: linear-gradient(to bottom right,
rgba(255, 233, 233, 0.438) 0%, rgba(223, 101, 101, 0.434) 30%, rgba(0, 0, 0, 0.493) 100%);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),inset 5px -5px 10px rgba(255, 255, 255, 0.7), 
inset -5px 5px 10px rgba(0, 0, 0, 0.2)
}
 